.products {
  padding-top: 8.75rem;
}
.headline h2::before {
  content: "";
  width: 40%;
  height: 0.125rem;
  background-color: var(--bg-danger);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.625rem;
}
.products a {
  text-decoration: none;
  color: black;
}

.single_box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-bottom: 5px;
  border-radius: 7px;
}

/* imgage Hover */
.product-list .product-image img {
  transition: all 500ms ease-in-out;
}
.product-list .product-image .product-image-second {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.product-list .product-image:hover .product-image-second {
  opacity: 1;
}
.product-list .product-image .sale {
  background: var(--bg-danger);
  border-radius: 0.313rem;
  color: #fff;
  font-size: 0.813rem;
  letter-spacing: 0.125rem;
  line-height: 1.563rem;
  padding: 0.1rem 0.613rem;
  text-transform: uppercase;
  position: absolute;
  left: 1rem;
  top: 1.188rem;
  z-index: 99;
}
.product-name h3 {
  font-size: 1.1rem;
  color: black;
  transition: all 0.3s ease 0s;
}
.product-name h3:hover {
  color: var(--bg-danger);
}
.product-name .amount {
  font-weight: 500;
  color: var(--bg-danger);
}
.product-name .amount del {
  color: gray;
}
.product-name .star_icon {
  color: #e02401;
}
.add_to_card {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.add_to_card:hover {
  color: var(--bg-danger);
}

/* ------------UP TO 75%----------- */
.up_to_off {
  position: relative;
}
.up_to_off::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
  transition: 0.5s;
}
.up_to_off img {
  height: 200px;
  width: 100%;
  transition: 0.5s;
}
.up_to_off:hover img {
  transform: scale(1.1);
}
.up_to_content h2 {
  color: white;
  font-size: 1.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
